/*
* Author: Hotel California Theme
* Created by: Shahid (Scientech IT)
* Copyright (c) 2015 Hotel California
* Date: 6 May, 2015
* http://www.webriti.com
* Name: default.css

*/


body { background: #f5f5f5; color: #64646d; }
#wrapper { background: none repeat scroll 0 0 #f5f5f5; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { color: #0f0f16; }
p { color: #64646d; }

/*Header Social Icons---------------------------------------------------------------------------------------------------*/
.top-header-detail { background-color: #21202e; }
.top-header-detail .widget .header-contact-info1 li, 
.top-header-detail .widget .header-contact-info1 li a { color: #ffffff; }
.header-contact-info1 li a:focus,.header-contact-info1 li a:focus{ color:#fff; }
.head-contact-social li { background-color: #d0d0d0; }
.head-contact-social li.facebook:hover { background-color: #4c66a4; }
.head-contact-social li.twitter:hover { background-color: #15b4c9; }
.head-contact-social li.googleplus:hover { background-color: #DD4B39; }
.head-contact-social li.linkedin:hover { background-color: #006599; }
.head-contact-social li.skype:hover { background-color: #40beee; }
.head-contact-social li.dribbble:hover { background-color: #c7366f; }
.head-contact-social li.youtube:hover { background-color: #cc2423; }
.head-contact-social li.vimeo:hover { background-color: #20b9eb; }
.head-contact-social li.pagelines:hover { background-color: #364146; }
.head-contact-social li > a > i { color: #FFFFFF; }
.sm-top-btn a { background-color: #4c7700; color: #ffffff; box-shadow: 0 2px 0 0 #265401; }
.sm-top-btn a:hover { color: #ffffff; }
/* Header Top Content Css */
.header-content { background: transparent; color: #ffffff; }
.header-content h1, .header-content h3 { color: #fff; }

/* Menu Section css---------------------------------------------------------------------------------------------------- */ 
.navbar-default { background-color: transparent; border-color: #e7e7e7; }
.navbar { background-color: #ffffff; }
.navbar-inverse .navbar-toggle { background: none repeat scroll 0 0 #66d1b9; }
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus { background-color: #66d1b9; }
.navbar-default .navbar-brand { color: #1b1b1b; } 
.navbar-inverse { background-color: rgba(0, 0, 0, 0.6); }
.navbar-default .navbar-nav > li > a{ color:#1b1b1b; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {  color: #fff; }
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus{ 
	color: #ffffff !important;
 }
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
	background-color:transparent;
 }
.navbar-default .navbar-nav > .current_page_item.open > a:hover, 
.navbar-default .navbar-nav > .current_page_item.open > a:focus{
	color:#fff;
 }
.navbar-default .navbar-nav > .current_page_parent > a, 
.navbar-default .navbar-nav  > .current_page_parent > a:hover, 
.navbar-default .navbar-nav > .current_page_parent > a:focus { color:#fff; }
/*Dropdown Menus & Submenus Css----------------------*/
.dropdown-menu {
	background-color: #21202e;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	border-top: 2px solid #e32235;
	border-bottom: 2px solid #e32235;	
}
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu .current_page_item > a,
.dropdown-submenu.active > a,
.dropdown-submenu.active a:hover,
.dropdown-submenu.active  .current-menu-item  a,
.dropdown-menu .current-menu-item > a
{
	background-color:#282737 !important;
	color:#fff !important;
}
.dropdown-menu > li > a { color: #d5d5d5; border-bottom: 1px dotted #363544; }
.dropdown-menu > li.current_page_item > a,
.dropdown-menu > li > a:hover,
.dropdown-menu  li.current_page_item > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu  li.current_page_item > a:focus { color: #ffffff; background-color: #282737; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{ background-color:#282737; }

/*Homepage Carousel Bootstrap Slider Section------------------------------------------------------------------*/ 
.page-seperate { background: url("../images/page-shadow.png") no-repeat center bottom #f5f5f5; }
.slide-text-bg1 { background-color: rgba(18, 4, 1, 0.8); }
.slide-text-bg1 h1 { color: #ffffff; text-shadow: 0 0px 1px rgba(155, 155, 155, 0.7); }
.slide-text-bg1 p { color: #ffffff; text-shadow: 0 0px 1px rgba(155, 155, 155, 0.7); }
.slide-btn-area-sm { margin: 0px 0 0px; float: left; width: 80%; }
.slide-btn-sm { background-color: #191919; color: #ffffff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
.slide-btn-sm:hover { color: #ffffff; }
.slide-btn-area-sm a.slide-btn-sm::before{ background-color: #e32235; }
.slide-btn-area-sm a.slide-btn-sm span { color:#fff; }
/* Direction Nav */
.carou-direction-nav a { background: #ffffff; color: #000000; }
.carou-direction-nav .carou-prev { color: #000000; }
.carou-direction-nav .carou-next { color: #000000; }
.slide-shadow { background: url("../images/slide-shadow.png") no-repeat center bottom #fff; }
/*Portfolio Pagination Scroll*/
.scroll-btn li { background: #0f0f16; color: #ffffff; }
.scroll-btn li a { color: #ffffff !important; }
.scroll-btn li a:hover { color: #ffffff !important; }
a.btn-prev:before { color: #ffffff !important; }
a.btn-next:before { color: #ffffff !important; } 
/*Pagination Static*/
.sm-pagi a, .sm-blog-pagi a, .nav-links a, .page-numbers.current{ background-color: transparent; border: 1px solid #0f0f16; color: #242526; }
.sm-pagi a:hover, .sm-pagi a.active, 
.sm-blog-pagi a:hover, .sm-blog-pagi a.active, .nav-links a:hover, .page-numbers.current  { background-color: #0f0f16; border: 1px solid #0f0f16; color: #FFFFFF; }
.white { color: #ffffff !important; }
/*Homepage Portfolio Section-------------------------------------------------------------------------------------------------*/
.portfolio-section { background: transparent; }
.portfolio-content-area { background-color: #ffffff; border: 1px solid #e9e9e9; }
.portfolio-content-area .wp-caption { background: rgba(0, 0, 0, 0.8); color: #ffffff; }
.portfolio-content-area .wp-caption small { color: #ffffff; }
.portfolio-content-area .portfolio-content h3, .portfolio-content-area h3 { color: #0f0f16; }
.portfolio-content-area .portfolio-content h3 > a, .portfolio-content-area h3 > a { color: #0f0f16; }
.portfolio-content p, .portfolio-content p a { color: #64646d; }
a.portfolio-btn { color: #ffffff; box-shadow: 0 3px 0 0 #9a0e1c; }
a.portfolio-btn:hover { color: #ffffff; }

/*Testimonial Section Css here---------------------------------------------------------------------------------*/
.testimonial-section { background: url("../images/testimonial-bg.jpg") repeat fixed 0 0 rgba(0, 0, 0, 0); }
.testimonial-section .overlay{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); }
.description-box { background-color: #ffffff; }
.description-box:before {
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 15px solid #ffffff;
}
.author-description { color: #64646d; }
.author-description:before { color: #e32235; }
.testmonial-area h4 { color: #ffffff; }
.testmonial-area span { color: #e32235; }
.author-box img { background-color: transparent; border: 1px solid #ffffff; }
.text-color { color: #ffffff !important; }
.testi-pager .carousel-indicators li { background-color: transparent; border: 1px solid #fff; }
.testi-pager .carousel-indicators li.active { background-color: #fff; border: 1px solid #fff; }
.testi-pager .carousel-indicators li:last-child { border: 1px solid #fff !important; }

/*Section Title Css----------------------------------------------------------------------------------------------------*/
.widget-title { color: #0f0f16; }
.widget-separator { background-color: #cccccc; }

/*Homepage News & Blog Css--------------------------------Start by wdl----------------------------------------------------------------*/
.widget-section .post-content-area { 
	background: transparent; 
	border-bottom: 1px dotted #aeadbc; 
	border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none; 
}
.widget-section .post-content-area h3.entry-title { color: #0f0f16; }
.widget-section .post-content-area h3.entry-title a { color: #0f0f16; }
.widget-section .post-content-area .entry-content p { color: #64646d; }
.widget-section .post-content-area a.post-thumbnail img { 
	border-radius: 0px; 
	border: 4px solid #fff;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc; 
}
/*End by wdl*/

/*Homepage News & Blog Css------------------------------------------------------------------------------------------------*/
.sm-about-area img {
	border:4px solid #fff;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}
.sm-aboutus-section p { color: #64646d; }
.about-btn a { color: #0f0f16; }

/*Homepage Google Map Css------------------------------------------------------------------------------------------------*/
.google-map { border: 4px solid #ffffff; box-shadow: 0 0 2px 0 #ccc; }
.sm-address-icon { color: #0f0f16; }
.sm-address address { color: #0f0f16; }
.sm-address address > abbr { color: #64646d; border-bottom: 1px dotted #aeadbc; }

/*Homepage Callout Css------------------------------------------------------------------------------------------------*/
.sm-callout { background-color: #ffffff; }
.sm-callout h4 { color: #64646d; }
.sm-callout h4 abbr { color: #21202e; border-bottom: 1px dotted #aeadbc; }
.sm-callout-btn a {  color: #ffffff !important;  }
.sm-callout-btn a:hover { color: #ffffff; }
.sm-seperate { background: #f5f5f5 url("../images/callout-shadow.png") no-repeat scroll center bottom; }

/*Page Title Section Css-------------------------------------------------------------------------------------*/
/* .page-title-section { background: url("../images/testimonial-bg.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0); }
.page-title-section .overlay { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); } */
.page-title h1 { color: #ffffff; }
.page-breadcrumb > li + li:before { color: #ffffff; }
.page-breadcrumb > li a { color: #ffffff; }

/*About Us Css --------------------------------------------------------------------------------------------------------------------*/
.about-section { background-color: #f4f4f4; }
/* .about-img-area img, img[class*='wp-image'],.wp-post-image {
	border: 5px solid #fff;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
} */
.about-section h2 { color: #0f0f16; }
.about-section h2 > span { font-size:30px; }
.about-section p { color: #64646d; }
.about-social li { background-color: #ffffff; border: 1px solid #e3e3e3; }
.about-social li.facebook:hover { background-color: #4c66a4; }
.about-social li.twitter:hover { background-color: #15b4c9; }
.about-social li.googleplus:hover { background-color: #DD4B39; }
.about-social li.linkedin:hover { background-color: #006599; }
.about-social li.skype:hover { background-color: #40beee; }
.about-social li.dribbble:hover { background-color: #c7366f; }
.about-social li.youtube:hover { background-color: #cc2423; }
.about-social li.vimeo:hover { background-color: #20b9eb; }
.about-social li.pagelines:hover { background-color: #364146; }
.about-social li > a > i { color: #0f0f16; }
.about-social li:hover > a > i { color: #ffffff; }

/*Hotel Amenities Section Css here---------------------------------------------------------------------------------*/
.amenities-section { background: url("../images/testimonial-bg.jpg") repeat fixed 0 0 rgba(0, 0, 0, 0); }
.amenities-section .overlay{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); }
.sm-amenities { background: rgba(0, 0, 0, 0.3); border: 1px solid #e9e9e9; color: #ffffff; }
.sm-amenities:hover { background: rgba(0, 0, 0, 0.5); }

/*Team Section-------------------------------------------------------------------------------------------------*/
.team-area {background-color: #ffffff; border: 1px solid #e9e9e9; }
.team-caption { background-color: transparent; color: #ffffff; }
.team-caption h4 { color:#0f0f16; }
.team-caption h6 { color: #64646d; }
.team-showcase-overlay { background: rgba(255, 255, 255, 0.4); }
.team-image .team-showcase-icons a { background-color: #21202e; color: #ffffff; }
.team-image .team-showcase-icons a:hover { color: #ffffff; }

/*Blog Section Css------------------------------------------Start by wdl-------------------------------------------------------------------*/
.blog-section { background: transparent; }
.blog-section .post-content-area { background-color: #ffffff; border: 1px solid #e9e9e9; }
.blog-section .post-content-area .entry-header { color: #0f0f16; }
.blog-section .post-content-area .entry-header h2.entry-title { color: #0f0f16; }
.blog-section .post-content-area .entry-header h2.entry-title > a { color: #0f0f16; }
.blog-section .post-content-area .entry-meta { color: #000000; border-top: 1px dotted #c5d1dc; border-bottom: 1px dotted #c5d1dc; }
.blog-section .post-content-area .entry-meta a { color: #000000; }
.blog-section .post-content-area a.more-link, a.more-link, 
input[type="submit"], 
.page-links a {  color: #ffffff !important; }
.blog-section .post-content-area a.more-link:hover, .more-link:hover { color: #ffffff !important;}
.blog-section .post-content-area .entry-date a::before, .post-content-area .tag-links::before, .post-content-area .author::before {
	color: #838383;
}
.post-featured-area { background-color: #ffffff; border: 1px solid #e9e9e9; }


/*Blog Pagination*/
.blog-pagination a { background-color: #ffffff; border: 1px solid #dbdbdb; color: #242526; }
.blog-pagination a:hover, .blog-pagination a.active {
	background-color: #ee591f;
	border: 1px solid #ee591f;
	color: #FFFFFF;
}
.blog-author { background-color: #ffffff; border: 1px solid #e9e9e9; }
.blog-author img {
	border: 3px solid #fff;
	-moz-box-shadow: 0px 0px 1px #ccc;
	-webkit-box-shadow: 0px 0px 1px #ccc;
	box-shadow: 0px 0px 1px #ccc;
}
.blog-author h6 { color: #0f0f16; }
.blog-author p { color: #64646d; }
.blog-author-social li { background-color: #ffffff; border: 1px solid #21202e; }
.blog-author-social li.facebook:hover { background-color: #4c66a4; border: 1px solid #4c66a4; }
.blog-author-social li.twitter:hover { background-color: #15b4c9; border: 1px solid #15b4c9; }
.blog-author-social li.googleplus:hover { background-color: #DD4B39; border: 1px solid #DD4B39; }
.blog-author-social li.linkedin:hover { background-color: #006599; border: 1px solid #006599; }
.blog-author-social li.skype:hover { background-color: #40beee; border: 1px solid #40beee; }
.blog-author-social li.dribbble:hover { background-color: #c7366f; border: 1px solid #c7366f; }
.blog-author-social li.youtube:hover { background-color: #cc2423; border: 1px solid #cc2423; }
.blog-author-social li.vimeo:hover { background-color: #20b9eb; border: 1px solid #20b9eb; }
.blog-author-social li.pagelines:hover { background-color: #364146; border: 1px solid #364146; }
.blog-author-social li > a > i { color: #0f0f16; }
.blog-author-social li:hover > a > i { color: #ffffff; }
.comment-section { background-color: #ffffff; border: 1px solid #e9e9e9; }
.comment-title { border-bottom: 1px dotted #c5d1dc; }
.comment-title h3 { color: #0f0f16; }
.comment-title h3 > i { color: #0f0f16; }
.comment-detail { border-bottom: 1px dotted #c5d1dc; }
.comment-detail-title { color: #0f0f16; }
.comment-detail p { color: #64646d; }
.reply a { color: #ffffff;  }
.reply a:hover {	color: #ffffff; }
.comment-form-section { background-color: #ffffff; border: 1px solid #e9e9e9; }
.cont-form-section { background-color: #ffffff; border: 1px solid #e9e9e9; }
.blog-form-control, .cont-form-control { background-color: transparent; border: 1px solid #e9e9e9; color: #555; }
.blog-form-control::-webkit-input-placeholder, 
.blog-form-control-textarea::-webkit-input-placeholder,
.cont-form-control::-webkit-input-placeholder, 
.cont-form-control-textarea::-webkit-input-placeholder { color: #64646d; }
.blog-form-control::-moz-placeholder, 
.blog-form-control-textarea::-moz-placeholder, 
.cont-form-control::-moz-placeholder, 
.cont-form-control-textarea::-moz-placeholder { color: #64646d; }
.blog-form-control:-ms-input-placeholder, 
.blog-form-control-textarea:-ms-input-placeholder, 
.cont-form-control:-ms-input-placeholder, 
.cont-form-control-textarea:-ms-input-placeholder { color: #64646d; }
.blog-form-control-textarea, .cont-form-control-textarea { 
	background-color: transparent;
    border: 1px solid #e9e9e9;
    color: #555;
}

/* wdl sidebar css -----------------------------------------Start by wdl------------------------------------------------------*/
/* -- Widget Titles -- */
.portfolio-section .widget h1.widget-title a.rsswidget,
.team-section .widget h1.widget-title a.rsswidget, 
.widget-section .widget h3.widget-title a.rsswidget { color: #0f0f16; }
.callout-section .widget h4.widget-title { color: #0f0f16; }
.separator { background-color: #cccccc; }
.footer-sidebar .section-title { border-bottom: 1px solid #363544; } 
.top-header-detail .section-title .widget-title, .footer-sidebar .section-title h3.widget-title,
.top-header-detail .section-title h3.widget-title a, .footer-sidebar .section-title h3.widget-title a {
	color: #ffffff;
}
.widget-section .widget h3.widget-title a.rsswidget { color: #0f0f16; }
.top-header-detail .section-title .widget-title a:hover, .footer-sidebar .section-title h3.widget-title a:hover, 
.top-header-detail .section-title .widget-title a:focus, .footer-sidebar .section-title h3.widget-title a:focus {
	color: #ffffff; 
}
/* Blog sidebar */
.sidebar .section-title { background-color: #21202e; }
.sidebar .section-title h3.widget-title, 
.sidebar .section-title h3.widget-title a, 
.sidebar .widget h3.widget-title a.rsswidget { color: #ffffff; }
.sidebar .section-title h3.widget-title a:hover, .sidebar .section-title h3.widget-title a:focus { color: #ffffff; }
.sidebar .widget { background-color: #ffffff; border: 1px solid #e9e9e9; }
/* -- End Widget Title -- */

/* -- Widgets ------------------------------------------------------------------------------------------------------ */
.top-header-detail .widget li, .footer-sidebar .widget li { 
	border-bottom: 1px dotted #403f4e; 
}
.top-header-detail .widget li ul.children li:first-child, 
.footer-sidebar .widget li ul.children li:first-child{
	border-top: 1px dotted #403f4e;
}
.top-header-detail .widget li ul.sub-menu li:first-child, 
.footer-sidebar .widget li ul.sub-menu li:first-child{
	border-top: 1px dotted #403f4e;
}
.top-header-detail .widget li, 
.top-header-detail .widget a, 
.footer-sidebar .widget li, 
.footer-sidebar .widget a { 
	color: #9595a0; 
}
.top-header-detail .widget .textwidget p strong, 
.footer-sidebar .widget .textwidget p strong { 
	color: #ccc; 
}
.top-header-detail .widget .textwidget, 
.top-header-detail .widget .textwidget p, 
.top-header-detail .widget .textwidget .wp-caption p.wp-caption-text, 
.footer-sidebar .widget .textwidget, 
.footer-sidebar .widget .textwidget p,  
.footer-sidebar .widget .textwidget .wp-caption p.wp-caption-text { 
	color: #9595a0; 
}
.top-header-detail .widget .rss-date, .top-header-detail .widget cite, 
.footer-sidebar .widget .rss-date, .footer-sidebar .widget cite { 
	color: #ccc; 
}
.top-header-detail .widget a.rsswidget, .footer-sidebar .widget a.rsswidget { color: #ffffff; }
.top-header-detail .widget table, .footer-sidebar .widget table { background-color: #ffffff; }
.top-header-detail .widget table, .top-header-detail .widget th, .top-header-detail .widget td, 
.footer-sidebar .widget table, .footer-sidebar .widget th, .footer-sidebar .widget td { 
	color: #64646d; 
}
.top-header-detail .widget .tagcloud, .footer-sidebar .widget .tagcloud { padding: 0; } 
.top-header-detail .widget .tagcloud a, .footer-sidebar .widget .tagcloud a {
	background-color: transparent; 
	border: 1px solid #9595a0; 
	color: #9595a0;
}
/*All Sidebar Widget--------------------------------*/
/*Sidebar Calender Widget*/
.widget table, .widget table { background-color: #ffffff; color: #64646d; }
.widget #wp-calendar caption { color: #ffffff; }
.widget table, .widget th, .widget td { border: 1px solid rgba(51, 51, 51, 0.1); }
.widget #wp-calendar tbody a { color: #ffffff; }
.widget #wp-calendar tbody a:hover, .widget #wp-calendar tbody a:focus { color: #ffffff; }
.widget #wp-calendar #next a, .widget #wp-calendar #prev a { color: #000000; }
/*Links Widget */
.widget ul.children li:first-child, .widget ul.sub-menu li:first-child { border-top: 1px dotted #c5d1dc; }
.amenities-section li { border-top: 0 none; color: #ffffff; }
.widget li { border-bottom: 1px dotted #c5d1dc; }
.widget li a, ul li, ol li { color: #64646d; }
.testimonial-section .widget li, 
.amenities-section .widget li,
.testimonial-section .widget a, 
.amenities-section .widget a, 
.testimonial-section .widget a.rsswidget, 
.amenities-section .widget a.rsswidget,
.testimonial-section .widget .rssSummary, 
.amenities-section .widget .rssSummary, 
.testimonial-section .widget ul#recentcomments li.recentcomments span.comment-author-link, 
.amenities-section .widget ul#recentcomments li.recentcomments span.comment-author-link { 
	color: #ffffff; 
} 
.widget ul#recentcomments li.recentcomments span.comment-author-link { color: #64646d; }
/*Sidebar Rss Widget*/
.widget .rss-date, .widget cite { color: rgba(51, 51, 51, 0.7); }
.testimonial-section .widget .rss-date, .testimonial-section .widget cite, 
.amenities-section .widget .rss-date, .amenities-section .widget cite { 
	color: #dddddd; 
}
.widget a.rsswidget { color: #0f0f16; }
.widget .rssSummary { color: #64646d; }
.top-header-detail .widget .rssSummary, 
.footer-sidebar .widget .rssSummary { color: #969dab; }
/*Sidebar Text Widget*/
.widget .textwidget, 
.sidebar .widget .textwidget p, 
.sidebar .widget .textwidget .wp-caption p.wp-caption-text { 
	color: #64646d; 
}
.testimonial-section .widget .textwidget, .testimonial-section .widget .textwidget p, 
.amenities-section .widget .textwidget, .amenities-section .widget .textwidget p { 
	color: #ffffff; 
}
/*Sidebar Form Widget*/
.widget form.search-form input.search-field { border: 1px solid #e9e9e9; color: #64646d; }
.widget form.search-form input.search-submit { color: #ffffff; }
/*Sidebar Tags*/
.widget .tagcloud a { background-color: #f9f9f9; border: 1px solid #e9e9e9; color: #64646d; }
.widget .tagcloud a:hover { color: #ffffff; }
/* -- End Widget ------------------------------------------------ */
/* End wdl sidebar css */

/*Contact Section Css-------------------------------------------------------------------------------------------------------------*/
.contact-section { background: transparent; }
.sm-cont-widget { background-color: transparent; border: 0 none; }
.cont-description p { color: #64646d; }
.cont-info address { color: #64646d; }
.cont-info address > a { color: #64646d; }
.cont-title { color: #0f0f16; }
.cont-social li { background-color: #ffffff; border: 1px solid #21202e !important; }
.cont-social li:last-child { border-bottom: 1px solid #21202e !important; }
.cont-social li.facebook:hover { background-color: #4c66a4; border: 1px solid #4c66a4 !important; }
.cont-social li.twitter:hover { background-color: #15b4c9; border: 1px solid #15b4c9 !important; }
.cont-social li.googleplus:hover { background-color: #DD4B39; border: 1px solid #DD4B39 !important; }
.cont-social li.linkedin:hover { background-color: #006599; border: 1px solid #006599 !important; }
.cont-social li.skype:hover { background-color: #40beee; border: 1px solid #40beee !important; }
.cont-social li.dribbble:hover { background-color: #c7366f; border: 1px solid #c7366f !important; }
.cont-social li.youtube:hover { background-color: #cc2423; border: 1px solid #cc2423 !important; }
.cont-social li.vimeo:hover { background-color: #20b9eb; border: 1px solid #20b9eb !important; }
.cont-social li.pagelines:hover { background-color: #364146; border: 1px solid #364146 !important; }
.cont-social li > a > i { color: #0f0f16; }
.cont-social li:hover > a > i { color: #ffffff; }
.cont-google-map { border: 5px solid #ffffff; box-shadow: 0 0 1px 0 #ccc; }

/* Contact Form 7 ----------------------------------------------------------*/
.wpcf7 p { color: #64646d !important; }
.wpcf7-text, .wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz, .wpcf7-textarea { 
	background-color: transparent;
	border: 1px solid #e9e9e9; 
	color: #555; 
	
}
.wpcf7-validation-errors { color: red; }

/*Gallery Section Css----------------------------------------------------------------------------------------------------------*/
.gallery-section { background: transparent; }
.gallery-showcase-overlay { background: #000000; }
.gallery-image .gallery-showcase-icons a i { color:#ffffff; }
.gallery-image{
	border: 4px solid #fff;
  -moz-box-shadow: 0px 0px 2px #ccc;
  -webkit-box-shadow: 0px 0px 2px #ccc;
  box-shadow: 0px 0px 1px #ccc;
}

/*Footer Section Css--------------------------------------------------------------------------------------------------------*/
.footer-section { background-color: #21202e; }
.footer-copyright .site-info { border-top: 1px dotted #403f4e; }
.footer-copyright .site-info p { color: #c4c4c4; }

/*Scroll Layout Button*/
.hc_scrollup { background-color: #c62128; }
.hc_scrollup i { color: #ffffff; }

/* Wp Default Core classes ---------------------------------------------------Today----------------------------------------------------------*/
blockquote { background-color: #f7f7f7; }
blockquote cite, blockquote small { color: #777; }
table { background-color: transparent; color: #64646d; }
table, th, td { border: 1px solid #eaeaea; border: 1px solid rgba(51, 51, 51, 0.1); }
abbr { border-bottom: 1px dotted #64646d; } 
ins { color: #ffffff; }
.gallery .gallery-icon img { 
	border: 5px solid #fff !important;
	-moz-box-shadow: 0 0 5px 2px #ccc;
	-webkit-box-shadow: 0 0 5px 2px #ccc;
	box-shadow: 0 0 5px 2px #ccc;
}
.post-password-form label { color: #64646d; }
.post-password-form input[type="password"] { border: 1px solid rgba(51, 51, 51, 0.1); color: rgba(51, 51, 51, 0.7); }