.sortable{ 
	list-style-type: none;
	margin: 0;
	padding: 0; 
	margin-bottom: 10px;
	min-height:100px;
	padding:5px 0;
}
.customizer_layout {
	background-color:#ccc;
 }
 
.sortable li {
	margin: 5px;
	padding: 5px;
	width: 215px; 
	background-color:#fff;
	border:1px solid #000;
	text-align:center;
}
 .color_scheem_active,.theme_style_active{
	/* border:2px solid #000 !important; */
	border: 1px solid #000 !important;
    border-radius: 2px;
 }
 
#customize-control-theme_color label img,#customize-control-hotel_layout_style label img,#customize-control-predefined_back_image label img{
	margin: 0px 5px 5px 0px;
}

#customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
    display: inline-block;
    line-height: 20px;
    margin-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.accordion-section-content h3 { margin: 0 0 25px; }
 
#customize-control-front_page_data label { 
	display:none !important;
}

#customize-control-predefined_back_image input[type="radio"] {
	display:none !important;
}

#customize-control-image_back_image input[type="radio"] {
	display:none !important;
}

#customize-control-hotel_layout_style input[type="radio"] {
	display:none !important;
} 

#customize-control-theme_color  input[type="radio"] {
	display:none !important;
} 

#customize-control-hotel_wrap_style input[type="radio"] {
	display:none !important;
}
#customize-control-theme_style_type input[type="radio"] {
	display:none !important;
} 

#accordion-section-breadcrumbs_setting .accordion-section-title::after, 
#accordion-section-theme_style .accordion-section-title::after, 
#accordion-panel-about_setting .accordion-section-title::after, 
#accordion-section-background_image .accordion-section-title::after, 
#accordion-panel-layout_manager_panel .accordion-section-title::after{ 
	content: "\f160";
}

#customize-control-show_on_front label{
	display:block;
}
#customize-control-show_on_front input[type="radio"]{
	margin:0;
}

.upgrade {
  background-color: #e32235;
  border-color: #e32235;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
   margin-bottom: 0px;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
}
.review {
  background-color: rgba(18, 4, 1, 0.8);
  border-color: #1ec846;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
   margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
}
.document{
  background-color: #ee591f;
  border-color: #ef9c28;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
}
.pro-box
{display:block;text-align:center; margin-bottom: 0px;}
.pro-vesrion 
{text-align:center; margin-top:15px;}

