/* Wp Default Core classes ------------------------------------------------------------------------------------------------------------*/
p { margin: 0 0 25px; padding: 0; } 
p:last-child { margin-bottom: 0; } 
/* Ul and ol lists*/
ul, ol { margin: 0 0 25px; padding: 0 0px 0px 15px; }
ul li, ol li { font-family: 'Dosis'; font-size: 16px; font-weight: 500; line-height: 22px; margin: 0; padding: 6px 0; vertical-align: top; }
ul li, ul li a, ol li, ol li a  { border: 0 none; }
li > ul, li > ol, blockquote > ul, blockquote > ol {
    margin-left: 1.3333em;
}
/* Blockquote*/
blockquote { font-family: 'Dosis'; margin: 0 0 25px; }
blockquote, blockquote p { font-size: 18px; font-style: italic; font-weight: 500; padding: 10px; line-height: 25px; letter-spacing: 1px; }
blockquote cite, blockquote small { font-size: 15px; display: block; line-height: 20px; padding-top: 10px; }
blockquote em, blockquote i, blockquote cite { font-style: normal; }
blockquote strong, blockquote b { font-weight: 600; }
/*Address*/
address { font-style: italic; margin: 0 0 25px; line-height: 25px; }
/*Table*/
table { border-spacing: 0; letter-spacing: 0.5px; margin: 0 0 25px; text-align: left; table-layout: fixed; width: 100%; }
body table, body th, body td { padding: 10px; }
.calendar_wrap { padding: 0; }
.calendar_wrap th { text-align: center; border-width: 0 1px 1px 0; line-height: 1.9375; }
.calendar_wrap td { border-width: 0 1px 1px 0; line-height: 1.9375; }
tbody a { font-weight: 700;}
/*Definition Lists*/
dl { margin-bottom: 25px; margin-top: 0; }
dl dt { font-weight: 700; margin-bottom: 5px; }
dl dd { margin-bottom: 25px; margin-left: 10px; }
/*Abriviation, Acronym, Big, Strike, del, em, Ins, cite, q*/
abbr, tla, acronym { text-decoration: underline; cursor: help; }
acronym { border-bottom: 0 none; }
big { font-size: larger; font-weight: 600; }
s, strike, del { text-decoration: line-through; }
em, cite, q { font-style:italic; }
ins { text-decoration: none; padding: 0 3px; }
code, kbd, tt, var, samp, pre {
    font-family: Inconsolata, monospace;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
/*Image Alignment*/
.alignleft { display: inline; float: left; }
.alignright { display: inline; float: right; }
.aligncenter { display: block; margin-right: auto; margin-left: auto; }
blockquote.alignleft, .wp-caption.alignleft, img.alignleft { margin: 0.4em 1.6em 1.6em 0; }
blockquote.alignright, .wp-caption.alignright, img.alignright { margin: 0.4em 0 1.6em 1.6em; }
blockquote.aligncenter, .wp-caption.aligncenter, img.aligncenter { clear: both; margin-top: 0.4em; margin-bottom: 1.6em; }
.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter { margin-bottom: 1.2em; }
img.alignnone{ display: block; margin: 0 auto; height: auto; }
.alignnone img{ display: block; height: auto; }
img.alignleft, .wp-caption.alignleft{ margin-right: 30px; }
img.alignright, .wp-caption.alignright{ margin-left: 30px; float: right;}
img.wp-caption .alignnone { display: block; margin: 0 auto; height: auto; }
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {  
	clear: left;
    font-style: italic;
    line-height: 1.5em;
	font-size: 14px;
    margin: 12px 0;
}
.wp-caption.alignright { margin: 5px 0 20px 20px;}
.wp-caption.alignleft { margin: 5px 20px 20px 0;}
.gallery .gallery-icon img { height: auto; max-width: 90%; padding: 0; }
.gallery-item .gallery-caption { font-size: 14px; margin: 12px 0; text-align: center; font-style: italic; line-height: 1.5em; }
a img.alignright { float: right; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto;}
/*Additional Important need*/
.entry-content .wp-caption,.cont-description .wp-caption{ width: 100% !important; } 
.portfolio-content .wp-caption{ padding:0; position:relative; width: 100% !important; background-color:transparent; }
/*Page Links*/
.page-links a {
	border-radius: 2px;
    display: inline-block;
	border: 0 none;
    font-size: 14px;
	font-weight: 600;
    line-height: 20px;
    margin: 0px 3px 3px;
    padding: 7px 18px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.page-links a:hover { text-decoration: none; }
/*Form - Pwd Input and Label*/
.post-password-form label {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
	width: calc(100% - 92px);
}
.post-password-form input[type="password"] {
	padding:0 5px;
	height: 40px;
	width: 100%;
}