/*
Theme Name: Hotel California
Theme URI: http://webriti.com/hotel-california-wordpress-theme/
Author: Webriti
Author URI: http://webriti.com/
Description: Hotel California is a responsive and fully customizable template for Hotel and resorts. Advanced admin panel enable you to customize theme without any technical information. Create an amazing hotel booking website using the pre-build layout and elements. Customize existing graphics to create your own unique website interface.
Tags: one-column , two-columns , right-sidebar , custom-header , custom-background , custom-menu , featured-images ,  full-width-template , sticky-post , theme-options , threaded-comments , translation-ready 
Version: 0.7
License URI: http://www.gnu.org/licenses/gpl.html
License: GNU General Public License v3 or later
Text Domain: hotel-california
*/


body {
    padding:0;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
	background-attachment: fixed;
	font-weight: 500;
	letter-spacing: 0.8px;
}
#wrapper {
	margin: 0 auto;
	position: relative;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
h1, .h1 { font-size: 36px; line-height: 40px; }
h2, .h2 { font-size: 30px; line-height: 35px; }
h3, .h3 { font-size: 24px; line-height: 30px; }
h4, .h4 { font-size: 18px; line-height: 25px; }
h5, .h5 { font-size: 14px; line-height: 20px; }
h6, .h6 { font-size: 12px; line-height: 20px; }
h1, .h1, h2, .h2, h3, .h3, 
h4, .h4, h5, .h5, h6, .h6 { font-family: 'Dosis'; margin: 0px 0 25px; }
a { text-decoration: none !important; }
a:hover, a:focus { text-decoration: none !important; }
img { display: block; max-width: 100%; height: auto; }

input[type="text"] {
    margin-bottom: 5px;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
}

input[type="radio"] {
    display: inline-block;
    margin: 4px 0 5px !important;
}

input[type="password"], input[type="email"], textarea {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    margin: 4px 0 5px !important;
}

input[type="reset"] {
    background-color: #e32235;
	box-shadow: 0 3px 0 0 rgb(177,9,13);
}

input[type="reset"] {
    border-radius: 2px;
    display: block;
    font-family: 'Dosis';
    border: 0 none;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 28px 0 3px;
    padding: 8px 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}
input[type="reset"] {
    color: #ffffff !important;
}
.sticky { }
.bypostauthor {}

h1.site-title {
    margin-top: 10px;
}

/*Header Social Icons---------------------------------------------------------------------------------------------------*/
.top-header-detail, .header-contact-info1 li a, .header-contact-info2 li a { padding: 0px 0; font-family: 'dosis'; font-weight: 400; }
.header-contact-info1 { margin: 0px !important; padding: 10px 0 !important; display: block; /* float: left; */ }
.header-contact-info1 li { padding: 0px; margin-right: 0px; font-size: 15px; line-height: 20px; letter-spacing: 0.8px; }
.header-contact-info1 i { font-size: 15px; line-height: 20px; padding-right: 7px; vertical-align: top; }
.sm-top-btn { float: right; margin: 0px; padding: 28px 0px 28px 30px; }
.sm-top-btn a {
	border-radius: 2px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    display: inline-block;
    font-family: 'Dosis';
	font-weight: 600;
	letter-spacing: 1.1px;
    font-size: 12px;
    line-height: 20px;
	float: right;
    margin: 0;
    padding: 6px 15px;
    text-align: right;
    
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
/* Header Top Content Css */
.header-content h1 { font-size: 36px; line-height: 1.1; display: block; text-align: center; margin: 0px 0 15px; padding: 0px; color: #fff;     text-shadow: 1px 2px 1px #000; }
.header-content h3 { display: block; text-align: center; margin: 0px; padding: 0px; text-shadow: 1px 2px 1px #000; }
.header-img {
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
	text-align: center;
}
.header-content {
	background: transparent;
	top: 18%;
	padding: 0 10px;
	position: absolute;
	letter-spacing: 1px;
	z-index: 1;
	width: 100%;
}

/*Homepage Carousel Bootstrap Slider Section------------------------------------------------------------------*/ 
.homepage-mycarousel { padding-bottom: 0px; margin: 0 0 0px; }
.page-seperate { padding-bottom: 70px; margin: 0 0 0px; }
#carousel-example-generic .active > div { display: block; }
/*--------Slider Fade Effect-----------*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  transition-duration:1.8s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/*Standard Format*/
.format-standard1 {
	height: auto;
	left: 0; 
	margin: 0;
	padding: 15px;
	position: absolute; 
	right: 0; 
	text-align: left;
	width: 50%;
	z-index: 0;	
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slide-text-bg1 {
    float: left;
	text-align: left;
    margin: 0 0 0px;
    padding: 17px 20px 20px 20px;
    position: relative;
    width: 50%;
    z-index: 773;
}
.slide-text-bg1 h1 {
	font-family: 'Dosis';
	font-weight: 300;
	font-size: 46px;
	border-radius: 2px;
	padding: 0 0 10px;
	display: block;
	letter-spacing: 0;
	line-height: 50px;
	margin: 0 0 0px;
}
.slide-text-bg1 p {
	font-family: 'Dosis';
	font-size: 17px;
	font-weight: 400;
	display: block;
	border-radius: 2px;
	line-height: 25px;
	letter-spacing: 1px;
	padding: 0;
	margin: 0 0 0px;
}
.slide-btn-area-sm { margin: 0px 0 0px; float: left; width: 80%; }
.slide-btn-sm {
	border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Dosis';
	font-weight: 500;
	transition: all 0.3s ease-in-out 0s;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0;
	margin: 0;
    text-align: center;
    vertical-align: middle;
}
.slide-btn-area-sm a.slide-btn-sm::before{
	content: "\f054";
	font-family: FontAwesome;
	margin: 1px 1px 1px 1px;
	padding: 14px 15px;
	font-size: 12px;
	float: right;
}
.slide-btn-area-sm a.slide-btn-sm span{ margin: 0px; padding: 13px 20px; float: left; }

/* Direction Nav */
.carou-direction-nav { *height: 0; list-style-type: none; margin: 0px; }
.carou-direction-nav a {
	border-radius: 0px;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 55px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
	text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.carou-direction-nav .carou-prev { left: 15px; opacity: 0.7; }
.carou-direction-nav .carou-next { right: 15px; text-align: right; text-align: center; opacity: 0.7; }
.carou-direction-nav :hover .carou-prev { opacity: 1; left: 25px; }
.carou-direction-nav :hover .carou-next { opacity: 1; right: 25px; }
.carou-direction-nav :hover .carou-next:hover, 
.carou-direction-nav :hover .carou-prev:hover { opacity: 1; }
.carou-direction-nav .carou-disabled { opacity: 0!important; filter: alpha(opacity=0); cursor: default; }
.carou-direction-nav a:before {
    font-family: "FontAwesome";
    font-size: 32px;
    line-height: 1.7;
    display: inline-block;
    content: '\f104';
}
.carou-direction-nav a.carou-next:before { content: '\f105'; }		
.slide-shadow { padding-bottom: 21px; margin: 0 0 60px; }	
body.boxed .carousel-inner > .item > img,
body.boxed  .carousel-inner > .item > a > img { max-width: none; }
/* .carousel-inner > .item > img{ width:100%; } */

/*Carousel Fade Effect---------------------------------------------------------------*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*Homepage Portfolio Section----------------------------------Start by wdl---------------------------------------------------------------*/
.portfolio-section { margin: 0px 0 0px; /* padding: 0; */ padding: 60px 0 30px; width: 100%; }
.portfolio-section .portfolio-content-area { border-radius: 0; text-align: center; margin-bottom: 50px; padding: 6px; transition: all 0.4s ease 0s; }
.portfolio-content { padding: 27px 20px 33px; text-align: left; }
.portfolio-img {
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
}
.portfolio-img img,.wp-post-image { transition: all 300ms ease-out 0s; opacity: 1; }
.portfolio-img i {
    font-size: 4em;
    line-height: 0.8em;
	width: auto;
    height: auto;
	padding: 5px 0;
}
.portfolio-content-area:hover .portfolio-img img,.wp-post-image :hover {
	-webkit-transform: scale(1.15);/* Saf3.1+, Chrome */
	-moz-transform: scale(1.15); /* FF3.5+ */
	-ms-transform: scale(1.15); /* IE9 */
	-o-transform: scale(1.15); /* Opera 10.5+ */
	transform: scale(1.15);
	opacity: 1;
}
.portfolio-content-area .wp-caption {
    bottom: 0;
	font-family: 'Dosis';
    font-size: 20px;
	font-weight: 600;
	padding: 6px 15px;
    position: absolute;
	letter-spacing: 1px;
    right: 0;
    text-align: center;
    z-index: 1;
	white-space: normal;
}
.portfolio-content-area .wp-caption small { font-family: 'Dosis'; font-weight: 600; font-size: 13px; letter-spacing: 0.5px; padding: 0 0 0 4px; }
.portfolio-content-area h3 { font-family: 'Dosis'; font-weight: 500; padding: 18px 0 25px; margin: 0; letter-spacing: 0.8px; }
.portfolio-content-area .portfolio-content h3 { font-family: 'Dosis'; font-weight: 500; padding: 0 0 19px; margin: 0; letter-spacing: 0.8px; }
.portfolio-content-area .portfolio-content h3 > a { text-decoration: none; transition: all 0.4s ease 0s; }
a.portfolio-btn {
	border-radius: 2px;
    display: inline-block;
    font-family: 'Dosis';
    font-size: 14px;
	font-weight: 600;
    line-height: 20px;
	letter-spacing: 0.5px;
    margin: 28px 0 0;
    padding: 8px 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
a.portfolio-btn:hover { text-decoration: none; }
a.portfolio-btn::before {
	content: "\f178";
	font-family: FontAwesome;
	margin: 0 0 0 7px;
	padding: 0;
	font-size: 14px;
	float: right;
}
.portfolio-content-area .more-link { margin: 28px 0 0; }
.padding-0 { padding-top: 0 !important; }
/*End by wdl*/
/*Portfolio Pagination Scroll*/
.scroll-btn { margin-bottom: 30px; margin-right: 0px; overflow: hidden; padding: 0 0 0px; text-align: center; }
.scroll-btn li:first-child { margin-left: 0; }
.scroll-btn li {
	transition: all 0.3s ease 0s;
	display: inline-block;
	margin-left: 3px;
	padding: 0 !important;
	height: 25px;
	width: 25px;
	text-align: center;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}
.scroll-btn li a { display: block; padding: 0 !important; margin: 0; text-align: center; }
a.btn-prev:before {
	font-family: "FontAwesome";
	font-size: 13px;
    line-height: 27px;
	margin-right: 0px !important;
	display: inline-block;
	content: '\f053' !important;
}
a.btn-next:before {
	font-family: "FontAwesome";
	font-size: 13px;
    line-height: 27px;
	margin-right: 0px !important;
	display: inline-block;
	content: '\f054' !important;
}
/*Pagination Static*/
.sm-pagi { margin: 10px 0 20px; overflow: hidden; padding: 0; text-align: center; }
.sm-blog-pagi, .nav-links { margin: 0px 0 20px; overflow: hidden; padding: 0; text-align: center; }
.sm-pagi a, .sm-blog-pagi a, .nav-links a, .page-numbers.current {
  cursor: pointer;
  display: inline-block;
  font-family: 'Dosis';
  font-weight: 600;
  transition: all 0.3s ease 0s;
  font-size: 18px;
  line-height: 20px;
  border-radius: 0px;
  margin: 0 0px 10px;
  padding: 8px;
  vertical-align: baseline;
  white-space: nowrap;
  width: 37px;
  height: 37px;
}
.navigation.pagination{ width:100%; margin:0; }

/* This Media for Project scroll*/
.carousel-control { width:  4%; }
.carousel-control.left,  .carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next { left:  100%; }
	.carousel-inner .prev { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next { left:  50%; }
	.carousel-inner .prev { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next { left:  25%; }
	.carousel-inner .prev { left: -25%; }	
}

.width-auto { width: auto !important;}
/*End by wdl*/

/*Section Title Css----------------------------------------------------------------------------------------------------*/
.widget { margin: 0; padding: 60px 0; }
.widget-title { font-family: 'Dosis'; font-weight: 500; letter-spacing: 0.8px; margin: 0 0 25px; }
a:hover, a:focus { text-decoration: none !important; }
/*Homepage News & Blog Css-------------------------------Start by wdl-----------------------------------------------------------------*/
.widget-section .post-content-area{ margin-bottom: 17px; margin-top: 0 !important; padding: 0 0 17px 0; overflow: hidden; }
.widget-section .post-content-area:last-child { margin-bottom: 0px; padding-bottom: 0px; border-bottom: 0px; }
.widget-section .post-content-area h3.entry-title {
    display: block;
    font-family: 'Dosis';
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: -4px;
    word-wrap: break-word;
	letter-spacing: 0.5px;
}
.widget-section .post-content-area h3.entry-title a { transition: all 0.3s ease 0s; }
.widget-section .post-content-area .entry-content { margin: 0px; display: block; }
.widget-section .post-content-area .entry-content p { 
	font-family: 'Dosis';
	font-size: 16px; 
	margin: 0; 
	font-weight: 500;
	letter-spacing: 0.8px;
	line-height: 23px;
}
.widget-section .post-content-area a.post-thumbnail { display: block; float: left; margin-left: 0; margin-right: 25px; padding: 1px; }
.widget-section .post-content-area a.post-thumbnail img { display: block; height: auto; width: 88px; max-width: 100%; transition: all 0.3s ease-in-out 0s; }
.widget-section .post-content-area:hover a.post-thumbnail img { opacity: 0.7px; }
.widget-section .post-content-area .about-btn { display: none; }
.widget-section .testi-pagi li.active { background-color:#ffffff; }
/*End by wdl*/

/*Homepage Callout Css------------------------------------------------------------------------------------------------*/
.sm-callout {
	overflow: hidden;
	margin: 30px 0 0;
	padding: 30px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sm-callout h4 { font-family: 'Dosis'; font-weight: 500; margin: 5px 0 5px; letter-spacing: 0.8px; line-height: 25px; float: left; }
.sm-callout h4 abbr { font-family: 'Dosis'; font-weight: 600; text-decoration:none; }
.sm-callout-btn { float: right; }
.sm-callout-btn a {
	border-radius: 2px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    display: inline-block;
    font-family: 'Dosis';
	font-weight: 600;
	letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
	float: right;
    margin: 0;
    padding: 8px 18px;
    text-align: right;
    /*  */
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
.sm-seperate { /* margin: 0 0 50px; */ margin: 0 0 0px; padding-bottom: 30px; }

/*Page Title Section Css-------------------------------------------------------------------------------------*/
.page-title-section { height: 100%; margin: 0 0 0px; overflow: hidden; padding: 0; width: 100%; }
.page-title-section .overlay { height: 100%; padding: 60px 0 58px; position: relative; width: 100%; }
.page-title {
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0 auto 0px;
	padding: 0px;
	position: relative;
	width: 99%;
}
.page-title h1 { font-family: 'Dosis'; font-weight: 500; letter-spacing: 1px; margin: 0 0 0px; word-wrap: break-word; }
.page-breadcrumb {
	list-style: none outside none;
	margin-bottom: 0px;
	padding: 10px 0 0;
	font-family: 'Dosis';
	font-weight: 500;
	text-align: right;
	letter-spacing: 0.8px;
	font-size: 17px;
	line-height: 20px;
}
.page-breadcrumb > li { display: inline-block; }
.page-breadcrumb > li + li:before { content: "/ "; padding: 0 5px; }
.page-seperator { height: 70px; width: 100%; overflow: hidden;}
.margin-top { margin-top: 0px; } .margin-bottom { margin-bottom: 0px; }

/*Blog Section Css-------------------------------------------------------------------------------------------------------------*/
.blog-section { margin: 0px 0 40px; padding: 0; width: 100%; }
.blog-section .post-content-area { border-radius: 0; margin-bottom: 40px; padding: 20px; transition: all 0.4s ease 0s; }
.blog-section .post-content { padding: 20px 0 30px; }

.blog-featured-img, .post-featured-area{
	margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    transition: all 200ms ease-out 0s;
    width: 100%;
}
.post-featured-area { padding: 6px; margin-bottom: 40px; }
.blog-featured-img img {
    opacity: 1;
    transition: all 300ms ease-out 0s;
    max-width: 100%;
}
.post-content-area:hover  .blog-featured-img img, .post-featured-area:hover  .blog-featured-img img {
	 opacity: 1;
	 transform:scale(1.15);
}


.blog-section .post-content a.post-thumbnail {
    margin-bottom: 0px;
    margin-top: 0px;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
}
.blog-section .post-content a.post-thumbnail img { transition: all 300ms ease-out 0s; width: 100%; opacity: 1; }
.blog-section .post-content-area .entry-header { line-height: 25px; margin: 0 0 21px; }
.blog-section .post-content-area .entry-header h2.entry-title { font-family: 'Dosis'; font-weight: 500; margin: 0 0 0px; letter-spacing: 0.8px; }
.blog-section .post-content-area .entry-header h2.entry-title > a { text-decoration: none; transition: all 0.4s ease 0s; }
.blog-section .post-content-area .entry-meta {
  font-family: 'Dosis';
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 0;
  
  width: 100%;
  overflow: hidden;
}
.blog-section .post-content-area .entry-meta a { font-size: 12px; padding: 5px 0 5px; display: inline-block; transition: all 0.3s ease 0s; }
.blog-section .post-content-area .entry-meta a > i { font-size: 14px; margin-right: 9px; vertical-align: middle; margin-top: -4px; }
.blog-section .post-content-area .author {
    background-color: transparent;
    display: inline-block;
	transition: all 0.3s ease 0s;
    margin: 0;
    padding: 0;
    position: relative;
}
.blog-section .post-content-area .author::before { content: "\f007"; padding-right: 5px !important; }   
.blog-section .post-content-area .entry-meta > span { margin-right: 25px; }
.blog-section .post-content-area .entry-date a::before, .post-content-area .tag-links::before, .post-content-area .author::before {
	font-family: FontAwesome;
	margin-right: 0;
	line-height: 20px;
    position: relative;
    top: 2px;
    display: inline-block;
    font-size: 14px;
	padding-right: 10px;
    text-decoration: inherit;
    vertical-align: text-bottom;
}
.blog-section .post-content-area .entry-date a::before { content: "\f073"; }
.blog-section .post-content-area .tag-links a {
    display: inline-block;
	transition: all 0.3s ease 0s;
    margin: 0;
    position: relative;
    
}
.blog-section .post-content-area .tag-links::before { content: "\f02c"; padding-right: 5px; }
.blog-section .post-content-area .entry-content { 
	display: block; 
	margin: 0; 
}

.blog-section .post-content-area a.more-link, .more-link,
input[type="submit"] {
	border-radius: 2px;
    display: block;
    font-family: 'Dosis';
	border: 0 none;
    font-size: 14px;
	font-weight: 600;
    line-height: 20px;
    margin: 28px 0 3px;
    padding: 8px 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
}
.blog-section .post-content-area a.more-link:hover, .more-link:hover, 
/* .blog-section .post-password-form input[type="submit"]:hover,  */
input[type="submit"]:hover { text-decoration: none; }
.blog-section .post-content-area a.more-link::before, .more-link::before{
	content: "\f178";
	font-family: FontAwesome;
	margin: 0 0 0 7px;
	padding: 0;
	font-size: 14px;
	float: right;
}
.blog-section .post-content-area .edit-link a { 
	font-family: 'Dosis'; 
	font-size: 14px; 
	font-weight: 600; 
	line-height: 20px;
	padding: 15px 0 0;
	letter-spacing: 0.5px; 
	display:block; 
}
/*Blog Author Comment form Css----------------------------------------------------------------------------------------------------------*/
.blog-author { float: none; margin: 0 0px 40px 0; padding: 30px 25px; }
.blog-author img { height: 100px; margin-right: 15px; width: 100px; }
.blog-author h6 { font-family: 'Dosis'; font-weight: 600; letter-spacing: 1px; font-size: 18px; line-height: 20px; margin: 0 0 15px; }
.blog-author p { font-family: 'Dosis'; font-weight: 500; font-size: 16px; line-height: 25px; letter-spacing: 0.8px; margin: 0 0 0px; }
.blog-author-social { margin: 20px 0 0; padding: 0; }
.blog-author-social li {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 30px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
}
.blog-author-social li > a > i { font-size: 14px; line-height: 2.2; transition: color 0.2s ease-in-out 0s; }
.comment-section { float: none; margin: 0 0px 40px 0; padding: 30px 25px 5px; }
.comment-title { display: block; margin: 0 0 25px; padding: 0 0 15px; }
.comment-title h3 {
	font-family: 'Dosis';
	font-size: 22px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0;
}
.comment-title h3 > i { font-size: 24px; margin-right: 8px; }
.comment-box { margin: 0 !important; padding: 0; position: relative; }
.pull-left-comment { float: left; margin-right: 25px; }
.comment-img { border-radius: 100%; height: 70px; margin: 2px 0 20px; width: 70px; }
.comment-detail { margin-bottom: 40px; margin-left: 0; padding: 0 0 25px; }
.comment-detail-title { font-family: 'Dosis'; letter-spacing: 0.8px; font-weight: 600; font-size: 16px; line-height: 20px; margin: 0 0 15px; }
.comment-date {
	float: right;
    font-family: 'Dosis';
	font-weight: 600;
    font-size: 16px;
	letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    padding-left: 7px;
    vertical-align: middle;
}
.comment-detail p { 
	font-family: 'Dosis';
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin: 0 0 27px;
	text-align: justify;
}
.reply { font-family: 'Dosis'; font-size: 13px; }
.reply a {
	border-radius: 2px;
	display: inline-block;
	font-family: 'Dosis';
	letter-spacing: 0.8px;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
	padding: 3px 15px;
}
.comment-form-section { float: none; margin: 0 0px 40px 0; padding: 30px 25px; }
.cont-form-section { float: none; margin: 0 0px 30px 0; padding: 30px 25px; }
.form-inline .blog-form-group, .form-inline .cont-form-group {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    vertical-align: middle;
    width: 100%;
}
.blog-form-control, .cont-form-control {
	border-radius: 0;
    display: inline-block;
    font-family: 'Dosis';
	letter-spacing: 1px;
	font-weight: 600;
    font-size: 14px;
    height: 46px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
}
.form-inline .blog-form-group-textarea, 
.form-inline .cont-form-group-textarea { display: inline-block; margin-bottom: 0; vertical-align: middle; width: 100%; }
.blog-form-control-textarea, .cont-form-control-textarea {
	border-radius: 0;
    display: inline-block;
    font-family: 'Dosis';
	letter-spacing: 1px;
	font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
}
.blogdetail-btn, .cont-btn { display: block; margin: 0 0 10px; }
.blogdetail-btn a, .cont-btn a {
	border-radius: 2px;
	display: inline-block;
	font-family: 'dosis';
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 10px 20px;
	text-align: center;
	text-align: center;
	transition: all 0.4s ease 0s;
}

/*Gallery Section Css----------------------------------------------------------------------------------------------------------*/
.gallery-section { margin: 0px 0 0px; padding: 0; }
.gallery-area { margin: 0 0 30px; }
.gallery-showcase-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery-showcase-overlay-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -30px;
}
.gallery-showcase-fade { opacity: 0.2; }
.gallery-image{
	text-align:center;
	position:relative;
	line-height:0px;
	font-size:0px;
	transition: all 200ms ease-out; 
	-webkit-transition: all 200ms ease-out; 
	width:100%;
	position:relative;
	height:100%;
	overflow:hidden;
    border-radius: 0;
}
.gallery-image img{ transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; width: 100%; }
.gallery-area:hover  img{
	-webkit-transform: scale(1.20);
	-moz-transform: scale(1.20); 
	-ms-transform: scale(1.20); 
	-o-transform: scale(1.20); 
	transform: scale(1.20);
}
.gallery-image .gallery-showcase-icons { margin-top: 0px; text-align: center; width: 100%; }
.gallery-image .gallery-showcase-icons a {
    font-size: 1.3em;
    display: inline-block;
    margin-left: 2px;
    padding: 12px 12px;
    opacity: 1;
	text-decoration: none;
}
.gallery-image .gallery-showcase-icons a:hover { opacity: 1; }
.gallery-image .gallery-showcase-icons a i{ font-size: 28px; line-height: 40px; }
.gallery-area:hover .gallery-showcase-overlay { visibility: visible; opacity: 0.8; }
/* wdl sidebar css -----------------------------------------Start by wdl------------------------------------------------------*/

/* -- Widget Title -- */
.section-title {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 45px;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
    text-align: center;
}
.section-title h1.widget-title, 
.testimonial-section .widget h1.widget-title a.rsswidget { font-family: 'Dosis'; font-weight: 500; margin: 0 0 0px; }
.testimonial-section .widget h1.widget-title a.rsswidget, 
.portfolio-section .widget h1.widget-title a.rsswidget, 
.amenities-section .widget h1.widget-title a.rsswidget,
.team-section .widget h1.widget-title a.rsswidget { font-size: 36px; line-height: 40px; }
.section-title p { font-family: 'Dosis'; font-size: 18px; font-weight: 500; line-height: 25px; margin: 0 0 0px; letter-spacing: 0.5px; }
.callout-section .widget h4.widget-title { font-family: "Dosis"; font-weight: 500; letter-spacing: 0.8px; line-height: 25px; margin: 0; }
.separator { width: 180px; height: 1px; margin: 21px auto 21px; }
.separator span { width: 30px; height: 4px; margin: 0px auto; display: block; position: relative; bottom: 2px; }
.top-header-detail .section-title,
.footer-sidebar .section-title { width: 100%; padding: 0 0 15px; margin: 0 0 40px; display: block; text-align: left; }
.top-header-detail .section-title .widget-title,
.footer-sidebar .section-title h3.widget-title,
.top-header-detail .section-title h3.widget-title a,
.footer-sidebar .section-title h3.widget-title a, 
.widget-section .widget h3.widget-title a.rsswidget {
	font-family: 'Dosis';
	font-size: 22px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin: 0;
	padding-bottom: 0px;
	word-wrap: break-word;
}
.top-header-detail .section-title .widget-title a:hover, .footer-sidebar .section-title h3.widget-title a:hover, 
.top-header-detail .section-title .widget-title a:focus, .footer-sidebar .section-title h3.widget-title a:focus {
	text-decoration: none;
}
.top-header-detail .section-title span,
.footer-sidebar .section-title span { bottom: 2px; display: block; height: 4px; margin: 0; position: absolute; bottom: -2px; left: 0; width: 30px; }

/* Blog sidebar */
.sidebar { margin-bottom: 0px; margin-left: 0; padding: 0px; }
.sidebar .section-title {  width: 100%; margin-bottom: 30px; padding: 16px 20px; display: block; text-align: left; }
.sidebar .section-title h3.widget-title, 
.sidebar .section-title h3.widget-title a, 
.sidebar .widget h3.widget-title a.rsswidget {
	font-family: 'Dosis';
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.8px;
	margin: 0;
	padding-bottom: 0px;
	word-wrap: break-word;
}
.sidebar .section-title h3.widget-title a:hover, .sidebar .section-title h3.widget-title a:focus { text-decoration: none; }
.sidebar-menu-box { display: block; }
.sidebar .widget { margin: 0 0 40px; padding: 0; }
/* -- End Widget Title -- */

/*All Sidebar Widget--------------------------------*/
.top-header-detail .col-sm-6:last-child .widget .header-contact-info1{ float: right; }
.top-header-detail .col-sm-6:last-child .widget::after { content: ''; visibility: hidden; display: block; clear: both; }
.top-header-detail .widget { padding: 0; }
.top-header-detail .widget:nth-child(n+2) { padding-top: 30px; padding-bottom: 30px; }
.testimonial-section .widget { padding: 10px 0px 50px; } 
.testimonial-section .widget:first-child { padding: 0; } 
.testimonial-section .widget:last-child { padding-bottom: 20px; } 
.footer-sidebar .widget { padding: 0px 0px 60px; }
.portfolio-section .widget { padding: 25px 0px; }
.portfolio-section .widget:first-child { padding-top: 0px; }
.widget-section .widget { padding: 0px 0px 60px; }
.widget-section .widget:first-child { padding: 60px 0; }
.callout-section .widget { padding-top: 0px; padding-bottom: 50px; }
.team-section .widget { padding-top: 0; padding-bottom: 40px; }
.team-section .widget:nth-child(4n+1), .amenities-section .widget:nth-child(4n+1){ clear: both; }
.amenities-section .widget { padding-top: 0px; padding-bottom: 30px; }
/*Sidebar Calender Widget*/
.sidebar .widget .calendar_wrap { padding: 0 25px 30px 25px; }
.widget #wp-calendar caption { font-size: 16px; text-align: center; font-weight: 600; margin: 0; padding: 10px 0; }
.widget table {
	font-family: 'Dosis';
    font-size: 15px;
	font-weight: 500;
	border-collapse: separate;
	border-spacing: 0;
	letter-spacing: 0.5px;
	border-width: 1px 0 0 1px;
	margin: 0;
	text-align: center;
	table-layout: fixed;
	width: 100%;
	padding:0;
}
.widget .calendar_wrap { padding: 0; }
.widget .calendar_wrap th { padding: 0; text-align: center; border-width: 0 1px 1px 0; line-height: 40px; }
.widget .calendar_wrap td { padding: 0; border-width: 0 1px 1px 0; line-height: 40px; }
.widget #wp-calendar tbody a { font-weight: 700; display: block; }
.widget #wp-calendar tbody a:hover, .widget #wp-calendar tbody a:focus { font-weight: 700; display: block; }
.widget #wp-calendar #next a, .widget #wp-calendar #prev a { font-weight: 600; }
/*Sidebar Links Widget */
.sidebar .widget ul { margin: 0; padding: 0 25px 30px 25px; }
.widget ul { list-style: outside none none; padding: 0; }
.widget li { border-top: 0 none; }
.widget li ul.children { padding-bottom: 0; margin-top:12px; }
.widget li ul.sub-menu { margin-top:12px; padding-right:0; padding-bottom:0; }
.widget ul.children, .widget ul.sub-menu { margin-top:12px; margin-left:20px; }
.sidebar .widget ul.children, .sidebar .widget ul.sub-menu { margin-top:12px; margin-left:0px; }
.widget ul.children li:first-child, .widget ul.sub-menu li:first-child { padding-top:12px; }
.top-header-detail .widget ul.sub-menu li:last-child, .footer-sidebar .widget ul.sub-menu li:last-child { border-bottom: 0 none; }
.testimonial-section li, .amenities-section li { border-top: 0 none; }
.widget li:first-child { padding-top: 0px; }
.widget li:last-child { padding-bottom: 0px;  border-bottom: 0px !important; } 
.widget li { 
    font-family: 'Dosis';
    font-size: 15px;
    font-weight: 500;
	letter-spacing: 0.5px;
    line-height: 22px;
    margin-right: 0;
	padding-right: 0px;
    padding: 12px 0;
    vertical-align: top;
}
.widget li a, .widget a, .widget a { border: 0 none; }
.widget li a::before {  content: "\f00c"; font-family: FontAwesome; margin-right: 10px; margin-left: 1px; font-size: 14px; }
.widget ul#recentcomments li.recentcomments span.comment-author-link { font-weight: 700; }
.widget_recent_comments li a::before, .top-header-detail .widget .header-contact-info1 li a::before { display: none; }
/*Sidebar Rss Widget*/
.widget a.rsswidget { font-size: 15px; font-weight: 600; }
.widget .rss-date, .widget cite { display: block; padding: 5px 0 5px; font-size: 1.3rem; line-height: 1.8462; }
/*Sidebar Text Widget*/
.widget .textwidget { letter-spacing: 0.5px; font-family: 'Dosis'; font-size: 15px; line-height: 25px; font-weight: 500; }
.sidebar .widget .textwidget { padding: 0 25px 30px 25px; }
.widget .textwidget { padding: 0; }
.widget .textwidget p { font-family: 'Dosis'; font-size: 15px; letter-spacing: 0.8px; line-height: 25px; font-weight: 500; }
.widget .textwidget img { display: block; max-width: 100%; height: auto; }
.widget .textwidget .wp-caption p.wp-caption-text {
    background: transparent;
    font-size: 15px;
    margin: 0;
    padding: 6px 0px;
    position: relative;
    text-align: left;
}
/*Sidebar Form Widget*/
.sidebar .widget form.search-form { padding: 0 25px 30px 25px; }
.widget form.search-form { padding: 0; }
.widget form.search-form span.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
	font-family: 'Dosis';
	font-size: 16px;
	font-weight: 500;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
} 
.widget form.search-form input.search-field {
	padding: 6px 12px;
	height: 45px;
	width: 63%;
	border-radius: 2px;
	font-size: 16px;
	font-family: 'Dosis';
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.widget form.search-form input.search-submit {
	border: 0 none;
    border-radius: 2px;
    display: inline-block;
    font-family: "Dosis";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
	height: 42px;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.sidebar .widget_categories select, 
.sidebar .widget_archive select, 
.sidebar .widget select { width: 85%; height: 45px; font-size: 16px; padding: 6px 12px; }
.sidebar .widget_categories select, .sidebar .widget_archive select { margin: 0 25px 30px; }
.widget_categories select, 
.widget_archive select, 
.widget .textwidget select { width: 100%; height: 45px; font-size: 16px; margin: 0; padding: 6px 12px;  }
/*Sidebar Tags*/
.widget .tagcloud { margin: 0px; overflow: hidden; }
.sidebar .widget .tagcloud { margin: 0px; overflow: hidden; padding: 0 25px 30px 25px; }
.widget .tagcloud { margin: 0px; overflow: hidden; padding: 0; }
.widget .tagcloud a {
    display: inline-block;
    font-family: 'Dosis';
	letter-spacing: 0.5px;
	font-weight: 500;
    font-size: 15px !important;
    line-height: 20px;
    margin: 0 5px 10px 0;
    padding: 6px 14px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
/*Blockquote*/
.widget blockquote { background: transparent; }
/* -- End Widget ------------------------------------------------ */
/* End wdl sidebar css */

/*Contact Section Css-------------------------------------------------------------------------------------------------------------*/
.contact-section { margin: 0px 0 0px; padding: 0; width: 100%; }
.sm-cont-widget { margin-bottom: 0px; margin-top: 0; overflow: hidden; padding: 0 25px 30px 25px; }
.cont-form-section { float: none; margin: 0 0 30px; padding: 30px 25px; }
.cont-description { display: block; overflow: hidden; margin: 0 0 28px; }
.cont-description p {
	font-family: 'Dosis';
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin: 0 0 15px;
	padding: 0;
}
.cont-info { display: block; overflow: hidden; margin: 0 0 30px; }
.cont-info address {
	font-family: 'Dosis';
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.8px;
	margin-top: 0;
	margin-bottom: 12px;
	font-style:inherit;
}
.cont-info address a::before { display: none; }
.cont-info address > i { margin-right: 7px; }
.cont-title { 
	font-family: 'Dosis';
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.cont-social { margin: 0px 0 10px; padding: 0 !important; }
.cont-social li {
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 30px;
	margin: 5px 0 0 !important;
	padding: 0px !important;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
}
.cont-social li a { padding-right: 0 !important; }
.cont-social li a::before { display: none; }
.cont-social li > a > i { font-size: 14px; line-height: 2.2; transition: color 0.2s ease-in-out 0s; }
.map-section { float: none; margin: 30px 0px 30px; padding: 0; }
.cont-google-map { margin-bottom: 50px; margin-top: 0; }

/* 404 Error Page Css ---------------------------------------------------------------------------------------------------------------------------------------------- */
.404-section { margin: 0 0 30px; padding: 0; width: 100%; }
.error_404 { clear: both; margin: 0 auto; padding: 30px 0 70px; text-align: center; width: 50%; }
.error_404 h1 { font-size: 200px; line-height: 160px; margin: 20px 0; font-family: 'Dosis'; }
.error_404 h1 > i { font-size: 190px; padding: 0 10px; }
.error_404 h4 { margin: 20px 0px 25px; font-size: 50px; font-family: 'Dosis'; line-height: 45px; }
.error_404 p { margin-bottom: 25px; font-size: 18px; font-family: 'Dosis'; line-height: 25px; font-weight: 500; letter-spacing: 1px; }
/*Footer Section Css--------------------------------------------------------------------------------------------------------*/
.footer-section { margin: 0; padding: 80px 0 0; }
.footer-copyright { padding: 0; }
.footer-copyright .site-info { padding: 25px 0; text-align: center; }
.footer-copyright .site-info p {
    font-family: "Dosis";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

/*Scroll Layout Button*/
.hc_scrollup {
    border-radius: 0px;
    bottom: 0px;
	padding: 3px;
    display: none;
    height: 30px;
    opacity: 1;
    position: fixed;
    right: 60px;
    text-align: center;
    width: 30px;
	overflow: hidden;
    z-index: 9999;
}
.hc_scrollup:hover { opacity: 1; }
.hc_scrollup i{ font-size: 14px; }

/*---------------------- adding new css for blog ----------------------*/  
.about-section-space, .room-section-space {
	margin: 0px 0 20px;
	padding: 5px 0;
	overflow: hidden;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Contact Form 7 */
.wpcf7 p { color: #64646d !important; margin-top: 10px !important; }
.wpcf7-text, .wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz{
	border-radius: 0;
    display: inline-block;
    font-family: 'Dosis' !important;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    height: 46px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
    margin-top: 4px;
}
.wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz { width: 34%; }
.wpcf7-file { padding: 12px; }
.wpcf7-textarea {
	border-radius: 0;
    display: inline-block;
    font-family: 'Dosis';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    height: 46px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
    height: 150px;
}

.portfolio-content-area .wp-post-image, 
.post-content-area .wp-post-image
{
	border:0 none;
	box-shadow:none;
}

.page-template-about-php .blog-section article h2:nth-child(2){ margin-top:0; }
.page-template-about-php .blog-section article p:first-child{margin:0px;}
.page-template-about-php .blog-section article img:first-child{ margin-top:0; }
.carou-direction-nav li{ padding:0; }